
<style>
.switch{
	position: relative;
	left: 300px;
	width: 50px;
	height: 26px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 40px;
}
.switch:hover{
	cursor: pointer;
}
.switch-btn{
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: white;
}

.active-bgc{
	background-color: #00b0ff;
	border-color: #00b0ff;
}
.active-pos{
	top: -3px;
	right: -3px;
}
.normal-bgc{
	background-color: #efefef;
	border-color: #ccc;
}
.normal-pos{
	top: -3px;
	left: -3px;
}
</style>
<div class="switch bg-color" 
	ng-class="{true:'active-bgc',false:'normal-bgc'}[switch]" 
	ng-click="switchCtrl()">
	<span class="switch-btn"
		ng-class="{true:'active-pos',false:'normal-pos'}[switch]"></span>
</div>










