

*{margin:0;padding:0;}

body{
	/*position: relative;*/
}
header{
	width: 100%;
	box-sizing: border-box;
	/*min-height: 5rem;*/
	padding: 0.706667rem 0.48rem 0.533333rem;
	box-shadow: 0px 2px 10px #ccc;
	background-color: #f9f9f9;
}
header h1{
	display: inline-block;
	padding: 0 0.4rem;
	margin-bottom: 0.586667rem;
	background-image: url('../images/h5_btk.png'),url('../images/h5_btk1.png');
	background-position: left top,right bottom;
	background-repeat: no-repeat;
	background-size: 0.4rem;
	font-size: 20px;
}
[data-dpr="2"] header h1{
	font-size: 40px;
}
[data-dpr="3"] header h1{
	font-size: 60px;
}
header p{
	font-size: 12px;
	line-height: 0.6rem;
}
[data-dpr="2"] header p{
	font-size: 24px;
}
[data-dpr="3"] header p{
	font-size: 36px;
}
header .desp{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
header .info{
	margin-top: 0.2rem;
}
header .info .icon{
	padding-left: 0.6rem;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 0.4rem;
}
header .info .time{background-image: url('../images/h5_time.png');}
header .info .address{background-image: url('../images/h5_dd.png');}
footer{
	display: block;
	width: 100%;
	padding-top: 1.2rem;
	padding-bottom: 0.96rem;
	text-align: center;
}
footer p{
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 12px;
}
[data-dpr="2"] footer p{font-size: 24px;}
[data-dpr="3"] footer p{font-size: 36px;}

/*通用类*/
.ab_center{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.t-c{
	text-align: center;
	height: 1.786667rem;
	line-height: 1.786667rem;
}

#img{
	position: absolute;
	max-width: 100%;
	max-height: 3.733333rem;
	margin: auto;
}


.form{}
.form form::after{
	content:'';
	height:0;
	display: block;
	visibility: hidden;
	clear:both;
}
.form .left{
	position: relative;
	width: 4.2rem;
	height: 6rem;
	float:left;
}
.form .left .preview{
	position: relative;
	width: 2.8rem;
	height: 3.733333rem;
	margin: 0.8rem 0 0 0.426667rem;
	border: 1px solid #dbdbdb;

	background-image: url('../images/h5_camera.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.6rem;
}	
.form .left .prompt{
	display: block;
	width: 100%;
	height: 0.4rem;
	line-height:0.4rem;
	bottom: -0.5rem;
	position: absolute;
	color: #b3b3b3;
	font-size: 12px;
}
[data-dpr="2"] .form .left .prompt{font-size: 24px;}
[data-dpr="3"] .form .left .prompt{font-size: 36px;}
.form .left .rephoto{
	display: block;
	width: 0.973333rem;
	height: 0.973333rem;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ff9a00;
	background-image: url('../images/h5_cp.png');
	background-repeat: no-repeat;
	background-size:contain;
}
.form .right{
	width: 5.8rem;
	float: right;
	margin-top: 0.4rem;
}
.form .right div{
	position: relative;
}
.form .right div .icon{
	display: inline-block;
	/*width: 1.2rem;*/
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	color: red;
	font-size: 14px;
}
[data-dpr="2"] .form .right div .icon{font-size: 28px;}
[data-dpr="3"] .form .right div .icon{font-size: 42px;}
.form .right input{
	display: block;
	box-sizing: border-box;
	width:100%;
	height: 1.16rem;
	line-height: 1.16rem;
	border: none;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	padding-left: 0.8rem;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 0.6rem;
}
[data-dpr="2"] .form .right input{
	font-size: 28px;
}
[data-dpr="3"] .form .right input{
	font-size: 42px;
}
.form .right input.username{background-image:url('../images/h5_xm.png');}
.form .right input.phone{background-image:url('../images/h5_iphone.png');}
.form .right input.email{background-image:url('../images/h5_yx.png');}
.form .right input.company{background-image:url('../images/h5_dw.png');}
.form .submit{
	display: block;
	width: 9.253333rem;
	height: 0.906667rem;
	margin: 0 auto;
	border: none;
	border-radius: 0.08rem;
	background-color: #ff9a00;
	font-size: 17px;
	color: white;
}
[data-dpr="2"] .form .submit{font-size: 34px;}
[data-dpr="3"] .form .submit{font-size: 51px;}
.form .disable{
	background-color: #ccc;
}



/*遮罩和弹框*/
.mask{
	position: fixed;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.dialog{
	width: 6.973333rem;
	height: 3.413333rem;
	border-radius: 0.106667rem;
	background-color: white;
	z-index: 100;
	overflow: hidden;
}
.dialog > *{
	position: absolute;
	width: 100%;
	z-index: 101;
}
.dialog hr{
	height: 1px;
	border: none;
	background-color: #ccc;
}
.dialog .top{
	top: 0;
	height: 50%;
}
.dialog .bottom{
	bottom: 0;
	height: 50%;
}
.dialog .dia_botton{
	border: none;
	background: none;
	outline: none;
	font-size: 17px;
}
[data-dpr="2"] .dialog .dia_botton{
	font-size: 34px;
}
[data-dpr="3"] .dialog .dia_botton{
	font-size: 51px;
}
.alert_info > *{
	display: inline-block;
}
.alert_info .alert_icon{
	vertical-align: middle;
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.133333rem;
	background-image: url("../images/h5_ts.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.alert_dialog_info{
	font-size: 17px;
}
[data-dpr="2"] .alert_dialog_info{font-size: 34px;}
[data-dpr="3"] .alert_dialog_info{font-size: 51px;}







.loader{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-top: -0.5rem;
	margin-left: -0.5rem;
}
.loader .loading{
	list-style: none;
	display: inline-block;
	margin-left: 0.15rem;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	vertical-align: -10px;
	font-size: 0;
}
.loader .loading li{
	display: inline-block;
	width: 0.1rem;
	height: 100%;
	margin: 0 0.04rem;
	background-color: #ffcb19;
	-webkit-transform: scaleY(0.4);
	-ms-transform: scaleY(0.4);
	transform: scaleY(0.4);
	-webkit-animation: load 1.2s infinite;
	animation: load 1.2s infinite;
}
.waiting{
	display: inline-block;
	width: 2rem;
	color: white;
	font-size: 14px;
}
[data-dpr="2"] .waiting{font-size: 28px;}
[data-dpr="3"] .waiting{font-size: 42px;}
.loading li:nth-of-type(1){}
.loading li:nth-of-type(2){animation-delay: 0.1s;-webkit-animation-delay: 0.1s;}
.loading li:nth-of-type(3){animation-delay: 0.2s;-webkit-animation-delay: 0.2s;}
.loading li:nth-of-type(4){animation-delay: 0.3s;-webkit-animation-delay: 0.3s;}
.loading li:nth-of-type(5){animation-delay: 0.4s;-webkit-animation-delay: 0.4s;}
@-webkit-keyframes load {
  0%,40%,100%{
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20%{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@keyframes load {
  0%,40%,100%{
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20%{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}


.hide{
	display: none;
}

