*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 3000px;
}
.wrap{
	width: 99.4%;
	min-height: 300px;
	margin: 4px auto;
	border: 1px solid #ccc;
}
.switch{
	margin: 20px 0;
}
.selector{
	float: left;
	margin-right: 10px;
}

.active{
	background-color: #ffecc7;
}

.drag-wrap{
	position: relative;
	height: 600px;
}
.dialog{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 300px;
	margin: auto;
}

.timePicker{
	position: relative;
	width: 200px;
	height: 30px;
}






